
[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
[submodule "themes/sysmango"]
	path = themes/sysmango
	url = https://github.com/butchlebo/sysmango-hugo-theme.git
